name: CI

on:
  push:
    branches:
      - 'main'
      - 'release-v**'
      - 'full-sonar-analysis-**'
  pull_request:

jobs:
  build:
    name: Build OS ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Checkout sources
      uses: actions/checkout@v4

    - name: Checkout powsybl-core branch
      uses: actions/checkout@v4
      with:
        repository: powsybl/powsybl-core
        ref: refs/heads/main
        path: powsybl-core

    - name: Checkout powsybl-open-loadflow branch
      uses: actions/checkout@v4
      with:
        repository: powsybl/powsybl-open-loadflow
        ref: refs/heads/ci/core-7.1.0-SNAPSHOT
        path: powsybl-open-loadflow

    - name: Set up JDK 21
      uses: actions/setup-java@v1
      with:
        java-version: 21

    - name: Build and install powsybl-core with Maven
      run: mvn --batch-mode -DskipTests=true --file ./powsybl-core/pom.xml install

    - name: Build and install powsybl-open-loadflow with Maven
      run: mvn --batch-mode -DskipTests=true --file ./powsybl-open-loadflow/pom.xml install

    - name: Build with Maven
      if: matrix.os == 'ubuntu-latest'
      run: mvn --batch-mode -Pjacoco install

    - name: Build with Maven
      if: matrix.os != 'ubuntu-latest'
      run: mvn --batch-mode install

    - name: Run SonarCloud analysis
      if: matrix.os == 'ubuntu-latest'
      run: >
        mvn --batch-mode -DskipTests sonar:sonar
        -Dsonar.host.url=https://sonarcloud.io
        -Dsonar.organization=powsybl-ci-github
        -Dsonar.projectKey=com.powsybl:powsybl-entsoe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
